<div class="bar">
  <span><%= username %></span>
  <a href="/write">Write Your Status</a>
  <a href="/users/logout">sign out</a>
  <a href="/" class="home">
    <img src="/images/home.png" alt="首页">
  </a>
</div>
