<div class="bar">
  <span><%= username %></span>
  <a href="/write">Tweet</a>
  <a href="/users/logout">Sign out</a>
  <a href="/" class="home">
    <img src="/images/home.png" alt="home">
  </a>
</div>
