<!DOCTYPE html>
<html lang="en">
  <head>
    <title>login</title>
    <%- include head %>
  </head>
  <body>
    
    <div class="form-box">
      <div class="form-box title">Twitter</div>
      <form action="/users/login" method="post">
        <input type="text" name="username" value="" placeholder="username" />
        <input
          type="password"
          name="password"
          value=""
          placeholder="password"
        />
        <input type="submit" name="" value="login" />
      </form>
      <div>Don't have an account? <a href="/regist"> Register now>></a></div>
    </div>
  </body>
</html>
