<!DOCTYPE html>
<html lang="en">
<head>

  <title>login</title>
  <%- include head %>
</head>
<body>

  <div class="form-box">
    <form action="/users/login" method="post">
      <input type="text" name="username" value="" placeholder="encode id">
      <input type="password" name="password" value="" placeholder="encode psw">
      <input type="submit" name="" value="login">
    </form>
    <div>have acount，<a href="/regist">regist</a>！</div>
  </div>

</body>
</html>
