<!DOCTYPE html>
<html lang="en">
<head>

  <title>regist</title>
  <%- include head %>
</head>
<body>

  <div class="form-box">
    <form action="/users/regist" method="post">
      <input type="text" name="username" value="" placeholder="encode id">
      <input type="password" name="password" value="" placeholder="encode pwd">
      <input type="password" name="password2" value="" placeholder="confirm pwd">
      <input type="submit" name="" value="regist">
    </form>
    <div>have acount，<a href="/login">login</a>！</div>
  </div>

</body>
</html>
