<!DOCTYPE html>
<html lang="en">
  <head>
    <title>register</title>
    <%- include head %>
  </head>
  <body>
    <div class="form-box">
      <form action="/users/regist" method="post">
        <input type="text" name="username" value="" placeholder="username" />
        <input
          type="password"
          name="password"
          value=""
          placeholder="password"
        />
        <input
          type="password"
          name="password2"
          value=""
          placeholder="confirm password"
        />
        <input type="submit" name="" value="register" />
      </form>
      <div>Already have an account? <a href="/login"> Login now>></a></div>
    </div>
  </body>
</html>
